<div class="navbar">
  <div class="logo-and-search">
    <div class="logo">
      iSociety
    </div>
    <div class="search icon">
      <div class="material-symbols-outlined">
        search
        </div>
    </div>
  </div>

  <div class="home-and-groups">
    <div class="home icon" (click)="goHome()">
      <div class="material-symbols-outlined ">
        home
        </div>
    </div>
    <div class="groups icon">
      <div class="material-symbols-outlined">
        groups
        </div>
    </div>
  </div>

  <div class="messages-and-notifications">
    <div class="messages icon under">
      <div class="material-symbols-outlined">
        chat
        </div>
    </div>
    <div class="notifications icon under">
      <div class="material-symbols-outlined">
        notifications
        </div>
    </div>
    <div class="my-profile">
      <img class="avatar" src="https://robohash.org/impeditautest.png">
    </div>
  </div>

</div>
