.container {
  width: 25rem;
  padding: 1rem;

  .header {
    font-size: 2rem;
    padding-left: 1rem;
  }

  .contacts {
    .user {
      display: flex;
      padding: 0.5rem 0;
      padding-left: 1rem;
      gap: 1rem;
      width: 26rem;
      align-items: center;
      border-radius: 1rem;
      cursor: pointer;

      .avatar {
        width: 4rem;
        height: 4em;
        border-radius: 1rem;
        background-color: rgba(28, 43, 51, 0.1);
        border: solid 1px rgb(224, 224, 224);
      }
    }

    .user:hover {
      background-color: #3e4042;
    }
  }
}
