<div class="container">
  <div class="post-body">
    <div class="author">
      <img class="avatar" src={{singlePost.authorImage}}>
      <div class="name">{{singlePost.postAuthor}}</div>
    </div>
    <div class="title"><h1>{{ singlePost.postTitle}}</h1></div>

    <div class="post-content">{{ singlePost.postBody}}</div>

    <div class="tags-and-reactions" >
      <div class="reactions">
        Likes: {{singlePost.postReactions}}
      </div>
      <div class="tags">
        <div class="tag" *ngFor="let tag of singlePost.postTags">
          #{{tag}}
        </div>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="comments-container" *ngIf="singlePost?.commentsData as commentData">
    <h2>Comments:</h2>
    <div class="author">@{{commentData.user.username}}</div>
    <div class="comment-body">{{commentData.body}}</div>
  </div>
  <div class="no-comments" *ngIf="!singlePost?.commentsData">
    <div>No comments...</div>
  </div>
</div>

