// .navbar{
//     background-color: #797981;
// }
// .logo{
//     font-weight: 600;
//     font-size: 3.2rem;
//     height: 5rem;
// }

.home-page-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  background-color: #1c1e21;

  .board {
    grid-column-start: 3;
  }

  .active-users {
    margin: 1rem 3rem;
    grid-column-start: 5;
  }
}
